= render 'post', post: @post
.text-center.edit-links
  =link_to "Cancel", posts_path
  -if @post.user.id == current_user.id
    | 
    =link_to "Edit", edit_post_path(@post)
    |
    =link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }
